USE [master]
GO
/****** Object:  Database [HospitalDataBase]    Script Date: 12/13/2025 1:16:22 AM ******/
CREATE DATABASE [HospitalDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ADVSOFTAREEIG\MSSQL\DATA\HospitalDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HospitalDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ADVSOFTAREEIG\MSSQL\DATA\HospitalDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalDataBase]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 12/13/2025 1:16:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Appointment_ID] [varchar](200) NOT NULL,
	[Patient_Name] [varchar](200) NOT NULL,
	[Patient_Age] [varchar](10) NULL,
	[Doctor_Name] [varchar](200) NOT NULL,
	[Date] [varchar](50) NULL,
	[Time] [varchar](20) NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK__Appointm__FD01B5033D7647E1] PRIMARY KEY CLUSTERED 
(
	[Appointment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorInformation]    Script Date: 12/13/2025 1:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorInformation](
	[Doctor_ID] [int] NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[Email] [varchar](200) NULL,
	[Phone] [varchar](20) NULL,
	[Specialization] [varchar](100) NULL,
	[Consultation] [varchar](50) NULL,
	[Years_Of_Experience] [varchar](10) NULL,
 CONSTRAINT [PK__DoctorIn__E59B530F8EDCC413] PRIMARY KEY CLUSTERED 
(
	[Doctor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 12/13/2025 1:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[Record_ID] [int] NOT NULL,
	[Patient_Name] [varchar](200) NOT NULL,
	[Patient_Age] [varchar](10) NULL,
	[Doctor_Name] [varchar](200) NOT NULL,
	[Date] [varchar](50) NULL,
	[Diagnosis] [varchar](max) NULL,
	[Prescription] [varchar](max) NULL,
	[Notes] [varchar](max) NULL,
 CONSTRAINT [PK__MedicalR__603A0C601EB1910A] PRIMARY KEY CLUSTERED 
(
	[Record_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientInformation]    Script Date: 12/13/2025 1:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientInformation](
	[Patient_ID] [int] NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Age] [varchar](10) NULL,
	[Blood_Group] [varchar](10) NULL,
	[Address] [varchar](500) NULL,
	[Gender] [varchar](10) NULL,
	[Any_Major_Disease] [varchar](500) NULL,
 CONSTRAINT [PK__PatientI__C1A88B59D88B8ADE] PRIMARY KEY CLUSTERED 
(
	[Patient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/13/2025 1:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[First_Name] [varchar](100) NOT NULL,
	[Last_Name] [varchar](100) NOT NULL,
	[Age] [varchar](10) NULL,
	[Phone] [varchar](20) NULL,
	[Jop_Titile] [varchar](50) NULL,
	[Gender] [varchar](10) NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  CONSTRAINT [DF__Appointme__Statu__3D5E1FD2]  DEFAULT ('Scheduled') FOR [Status]
GO
USE [master]
GO
